## Why learn Python?
#### • Powerful: 
can program almost anything 

#### • Popular: 
used by almost everyone

#### • Packages: 
large library of existing code 

#### • Free

#### • Open

## Why Anaconda and Jupyter?
#### Anaconda is package manager.  
A Virtual Environment allows python run independently from you OS
    
#### Jupyter is a presentation layer.
Powerful Interactive IDE allows immediate feedback, beautiful editing and developing environment.

## Getting Started

Before we begin, let's cover a few basics about Jupyter (also known as iPython) notebooks. This is a markdown cell. Select a cell (a blue boundary should appear around the cell; you're in command mode) and press Enter on your keyboard to see it in editing mode (the cell boundary turns green in color). To switch back to command mode, press Esc. To run the cell, and go to the next cell, press Shift+Enter. If you want to run the cell without advancing to the next, press Ctrl+Enter.

To create a new cell below the current one, switch to command mode and then press the letter "b" on your keyboard. "a" will create a new cell above the current cell. "dd" will delete the current cell.

### Variable assignment, basic calculations, and data types

In [30]:
## CODE CELL 1
# This is a comment. Comments will not appear in the output when a cell is run.
# assigning the value 45 to the letter "a"
a = 85
print(a)

85

As you may have guessed, the `print()` function displays the value of the argument that's passed to it (e.g. whatever is inside the parentheses).

In [2]:
## CODE CELL 2
# Let's assign a couple more variables 

b = 12
c = a + b
print(c)

57

In [89]:
## CODE CELL 3
# Let's increment "c" by 2

print('c =', c)
c = c + 2
print('c + 2 =', c)

c = 71
c + 2 = 73

Try running the previous cell again. What happens?

In [93]:
## CODE CELL 4
# Another useful method to increment

print('c =', c)
c += 2
print('Now c =', c)

c = 79
Now c = 81

Decrementing works similarly (the operator is `-=`)
Other useful operations:

- subtraction: `a - b`
- multiplication: `a * b`
- division: `a / b`
- floor division (the integer part, or quotient, of a division operation): `a // b`
- modulo (remainder): `a % b`

In [94]:
## CODE CELL 5
# Some of the above in action
print('the current value of a is:', a )
print('the current value of b is:', b )
div = a/b
print('a / b is', div)
floor = a//b
print('a // b is', floor)
mod = a%b
print('a % b is', mod)

the current value of a is: 85
the current value of b is: 12
a / b is 7.083333333333333
a // b is 7
a % b is 1

So far, you've seen three data types: strings, integers, and floats. We can use the function `type()` to find out what data type a value or variable represents.

In [95]:
## CODE CELL 6

type(3.75)      # this is a float

float

In [96]:
## CODE CELL 7

type(3)     # this is an integer

int

In [97]:
## CODE CELL 8

type('This is a string.')      # this is a string

str

In [98]:
## CODE CELL 9

type("This is also a string.")     # double quotes or single quotes can be used

str

The `math` module is part of the standard library and has a lot of useful functions. To use it, we need to import it into this notebook. [Math Module]( https://docs.python.org/3/library/math.html "click to go to the detailted describtion")

In [105]:
## CODE CELL 10
import math
#sqrt(9)
math.sqrt(9)

3.0

In [106]:
import math as m
m.sqrt(9)

3.0

In [107]:
m.pi

3.141592653589793

In [112]:
m.sin(2*m.pi)

-2.4492935982947064e-16

In [15]:
## CODE CELL 11

math.pi

3.141592653589793

In [132]:
from math import *
sqrt(9)
pi

3.141592653589793

To learn more about the various functions belonging to the `math` module, call the `help()` function on it. Alternatively, you can read the online documentation for this module here: https://docs.python.org/3/library/math.html. This applies to any module, class, function, etc. that you may want more information on.

In [16]:
## CODE CELL 12

help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.6/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/hangmiao/anaconda/lib/python3.6/lib-dynload/math.cpython-36m-darwin.so

To convert a number from a float into an integer, use the function `int()`:

In [17]:
## CODE CELL 13

int(6.0)

6

Conversely, you can convert an integer into a float using `float()`:

In [18]:
## CODE CELL 14

float(6)

6.0

What if we have a number in string format?

In [19]:
## CODE CELL 15
# This doesn't work

'6.5'+7

TypeError: must be str, not int

In [20]:
## CODE CELL 16
# This works

float('6.5')+7

13.5

If we want to convert an integer or float to a string, we can use the function `str()`:

In [21]:
## CODE CELL 17

str(100)

'100'

### Strings: cleaning and manipulation

##### definition

In [125]:

ExString = 'A string is defined as sequence of characters between these two apostrophe'

In [126]:
ExString

'A string is defined as sequence of characters between these two apostrophe'

Indexing in Python starts from 0. That means that the first element of any string, list, array, etc. is actually considered to be element # 0.

In [127]:
## CODE CELL 18

myString = 'Rutgers is one of the top 10 oldest colleges in the U.S.'

Accessing characters in the string:

In [128]:
## CODE CELL 19

myString[0]

'R'

In [129]:
## CODE CELL 20

myString[1]

'u'

You can also access characters with reference to the end of the string:

In [25]:
## CODE CELL 21

myString[-1]

'.'

In [26]:
## CODE CELL 22

myString[-2]

'S'

To access larger portions (called "slices") of the string, we can use the following syntax: $string[startIndex:endIndex:stepSize]$. The string returned will start from the character at index $startIndex$, but it will end with the character at index $endIndex-1$. If not specified, $stepSize$ = 1, $startIndex$ = 0, and $endIndex$ = one beyond the last index.

The math notation would be $[startIndex, endIndex)$

For example,

In [27]:
## CODE CELL 23

myString[5:11]

'rs is '

In [28]:
## CODE CELL 24

myString[1:11:2]

'ugr s'

In [29]:
## CODE CELL 25

myString[:11]

'Rutgers is '

In [30]:
## CODE CELL 26

myString[11:]

'one of the top 10 oldest colleges in the U.S.'

In [31]:
## CODE CELL 27

myString[:]

'Rutgers is one of the top 10 oldest colleges in the U.S.'

What do you think this will yield?

In [32]:
## CODE CELL 28

myString[-3:11:-1]

'.U eht ni segelloc tsedlo 01 pot eht fo en'

Let's look at other useful string operations.

In [33]:
## CODE CELL 29
# How long is the string?

len(myString)

56

In [34]:
## CODE CELL 30
# Concatenation

myString2 = '; it was originally "Queen\'s College".'
print(myString + myString2)

Rutgers is one of the top 10 oldest colleges in the U.S.; it was originally "Queen's College".

**Exercise 1:**

Take the following two "sentences": (1) Next bus: 7 minutes. (2) Travel time on bus: 5 minutes. Using string indexing, extract the number of minutes for each activity, add the two numbers to get the total time (variable *total*), and print the following message using concatentation: "Next bus: 7 minutes. Travel time on bus: 5 minutes. Total time to destination: *total*".

*Hint: You will have to do at least one data type conversion.*

**Answer 1:**

In [ ]:
## CODE CELL 31

sentence1 = 'Next bus: 7 minutes.'
sentence2 = 'Travel time on bus: 5 minutes.'
sentence3 = 'Total time to destination:'

## ENTER CODE HERE



There's a lot you can do with strings! Let's go through a few useful methods:

In [35]:
## CODE CELL 32
# Converting to all lower case

new = 'RU'
new.lower()

'ru'

In [36]:
## CODE CELL 33
# Converting to all upper case

new.lower().upper()

'RU'

Notice that you can use multiple methods in the same line; in the above cell, the method `str.upper()` is executed on the string to the left of the dot before `upper()`, which in this case is `new.lower()`.

Definition from Python's reference:
https://docs.python.org/2/library/stdtypes.html#str.strip
str.strip([chars])
Return a copy of the string with the leading and trailing characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a prefix or suffix; rather, all combinations of its values are stripped:

In [40]:
## CODE CELL 34
# Removing leading and trailing characters

s = 'aaaabcccHow are you doing?aayzz'
s.strip('abcyz')

'How are you doing?'

In [41]:
## CODE CELL 35
# Removing leading and trailing whitespace

t = '  Could be worse.  '
t.strip()

'Could be worse.'

In [42]:
## CODE CELL 36
# Removing leading characters only

u = '???How is the family?'
u.lstrip('?')

'How is the family?'

In [43]:
## CODE CELL 37
# Removing trailing characters only

v = '...Alice twisted her ankle playing basketball on Saturday...'
v.rstrip('.')

'...Alice twisted her ankle playing basketball on Saturday'

In [44]:
## CODE CELL 38
# Finding the first position(index) of a character 

v.find('l')

4

In [45]:
## CODE CELL 39
# str.find() can also be used for a substring; it returns the index of the first character in the substring

v.find('Alice')

3

In [1]:
## CODE CELL 40
# Replacing all instances of a character or substring

y = 'Day 1: Prep. Day 2: Execute. Day 3: Review.'
y.replace('Day ', '')

'1: Prep. 2: Execute. 3: Review.'

Notice that you can remove characters from a string by substituting in an empty string. Strings are immutable; that is, you can't add characters to or remove characters from a string. You can create a new string through concatenation or slicing that has more or fewer characters, **but the original string cannot be altered**. Whenever you apply a method to a string, you're just creating a new string. (You can assign the new string to the original variable and thereby appear to "change" the original string, but you are still creating a new string in the process. The original variable simply stores the new string instead of the old string.)

In [2]:
## CODE CELL 41

y    # y still has its original value

'Day 1: Prep. Day 2: Execute. Day 3: Review.'

In [3]:
## CODE CELL 42
# To "save your changes", assign the new string to a variable

new_y = y.replace('Day ', '')
new_y

'1: Prep. 2: Execute. 3: Review.'

In [50]:
## CODE CELL 43
# Splitting a string into a list of words

z = 'Once upon a time in a land far, far away...'
z.split()

['Once', 'upon', 'a', 'time', 'in', 'a', 'land', 'far,', 'far', 'away...']

** The escape character **

Let's look at the following string:

In [4]:
## CODE CELL 44
# What happens when you try to print it?

print('We will meet at 4 o'clock.')

We will meet at 4 oclock.

What happened? Essentially, once you start a string with a single quote, Python will take the next single quote it sees as a signal to end the string (and similarly with double quotes). Here, that means that {clock.} is seen as something undefined that is outside the string - and Python does not like this. 

There are two ways around this. One is to use the "other" quotation mark type inside the string - so if you're using single quotes inside the string, use double quotes around the string, and vice versa. The other is "escaping" the internal quotation marks by using a backslash ("\") just before the quotation mark like so:

In [55]:
## CODE CELL 45
# Python is ok with this

print('We will meet at 4 o\'clock.')

We will meet at 4 o'clock.

This way, we're letting Python know that the internal single quotes should be treated as part of the ongoing string.

Finally, how can we introduce whitespace characters like tabs into a string? Answer: we use escape sequences.

In [56]:
## CODE CELL 46
# To introduce a tab character, use \t

score = 'Home:\t16'
print(score)

Home:	16

In [57]:
## CODE CELL 47
# To introduce a newline character (similar to pressing Enter on your keyboard), use \n

scores = 'Home:\t16\nAway:\t24'
print(scores)

Home:	16
Away:	24

### Lists: working with a data collection

Many of the operations we used with strings can be applied to lists as well, including
- indexing
- slicing
- finding the length
- concatenation

In [9]:
## CODE CELL 48
# Creating a list of the top 40 U.S. cities by population

topcities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego',
         'Dallas', 'San Jose', 'Austin', 'Jacksonville', 'San Francisco', 'Indianapolis', 'Columbus', 'Fort Worth',
         'Charlotte', 'Seattle', 'Denver', 'El Paso', 'Detroit', 'Washington', 'Boston', 'Memphis', 'Nashville', 'Portland',
         'Oklahoma City', 'Las Vegas', 'Baltimore', 'Louisville', 'Milwaukee', 'Albuquerque', 'Tucson', 'Fresno', 'Sacramento',
         'Kansas City', 'Long Beach', 'Mesa', 'Atlanta', 'Colorado Springs']
print(topcities)

['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego', 'Dallas', 'San Jose', 'Austin', 'Jacksonville', 'San Francisco', 'Indianapolis', 'Columbus', 'Fort Worth', 'Charlotte', 'Seattle', 'Denver', 'El Paso', 'Detroit', 'Washington', 'Boston', 'Memphis', 'Nashville', 'Portland', 'Oklahoma City', 'Las Vegas', 'Baltimore', 'Louisville', 'Milwaukee', 'Albuquerque', 'Tucson', 'Fresno', 'Sacramento', 'Kansas City', 'Long Beach', 'Mesa', 'Atlanta', 'Colorado Springs']

In [60]:
## CODE CELL 49
# Which is the 5th most populous city?

topcities[4]

'Philadelphia'

In [61]:
## CODE CELL 50
# Which cities are ranked #11-#20?

topcities[10:20]

['Austin',
 'Jacksonville',
 'San Francisco',
 'Indianapolis',
 'Columbus',
 'Fort Worth',
 'Charlotte',
 'Seattle',
 'Denver',
 'El Paso']

In [64]:
## CODE CELL 51
# Are there really 40 cities in the list?

len(topcities)

40

In [65]:
## CODE CELL 52
# Let's add the next 5 cities to topcities

cities41to45 = ['Virginia Beach', 'Raleigh', 'Omaha', 'Miami', 'Oakland']
topcities + cities41to45

['New York',
 'Los Angeles',
 'Chicago',
 'Houston',
 'Philadelphia',
 'Phoenix',
 'San Antonio',
 'San Diego',
 'Dallas',
 'San Jose',
 'Austin',
 'Jacksonville',
 'San Francisco',
 'Indianapolis',
 'Columbus',
 'Fort Worth',
 'Charlotte',
 'Seattle',
 'Denver',
 'El Paso',
 'Detroit',
 'Washington',
 'Boston',
 'Memphis',
 'Nashville',
 'Portland',
 'Oklahoma City',
 'Las Vegas',
 'Baltimore',
 'Louisville',
 'Milwaukee',
 'Albuquerque',
 'Tucson',
 'Fresno',
 'Sacramento',
 'Kansas City',
 'Long Beach',
 'Mesa',
 'Atlanta',
 'Colorado Springs',
 'Virginia Beach',
 'Raleigh',
 'Omaha',
 'Miami',
 'Oakland']

However, **lists, unlike strings, are mutable** - their identities can be changed in-place without creating a new list.

In [67]:
## CODE CELL 53
# Another way to add multiple items to the list is to use the "extend" method

topcities.extend(cities41to45)
len(topcities)
#print(topcities)

50

In [10]:
## CODE CELL 54
# You can also add items one at a time using the "append" method

topcities.append('Minneapolis')
topcities[-2:]   # let's just look at the end of the list

['Colorado Springs', 'Minneapolis']

In [11]:
## CODE CELL 55
# Is Orlando in the list?

'Orlando' in topcities

False

In [12]:
## CODE CELL 56
# Is Dallas in the list?

'Dallas' in topcities

True

In [13]:
## CODE CELL 57
# Which position is Dallas in?

topcities.index('Dallas')

8

In [14]:
## CODE CELL 58
# Let's get the list in alphabetical order

topcities.sort()
topcities[:10]   # just looking at the first 10 to verify sorting

['Albuquerque',
 'Atlanta',
 'Austin',
 'Baltimore',
 'Boston',
 'Charlotte',
 'Chicago',
 'Colorado Springs',
 'Columbus',
 'Dallas']

In [16]:
## CODE CELL 59
# Sorting also works on numbers

newList = [3,53,7,768,7,4,563]
newList.sort()
newList

[3, 4, 7, 7, 53, 563, 768]

You can even create a list of lists.

In [18]:
## CODE CELL 60
# Indexing with a list of lists

nestedList = [[1,2,3],[2,4,6],[3,6,9],[4,8,12]]
print(nestedList[0])

[1, 2, 3]

In [19]:
## CODE CELL 61
# Accessing a single element in a sublist

print(nestedList[0][2])

3

In [20]:
## CODE CELL 62
# Slicing

print(nestedList[:2])

[[1, 2, 3], [2, 4, 6]]

There's a lot you can do with lists. A brief overview can be found here: https://www.tutorialspoint.com/python/python_lists.htm; full documentation can be found at the official Python documentation page.

**Exercise 2:**

You have a class of students whose scores on the last exam were as follows: 89, 79, 83, 85, 95, 50, 77, 90, 100, 91, 69, 87, 93, 88. Find the median score by taking the average of the two "middle" scores. 

*Hint: First, sort the scores. To find the locations of the "middle" scores, first determine the number of scores you're dealing with using the len() function.*

**Answer 2:**

In [21]:
## CODE CELL 63

scores = [89, 79, 83, 85, 95, 50, 77, 90, 100, 91, 69, 87, 93, 88]

## ENTER CODE HERE 

n = len(scores)

*Note:*

Jupyter Notebook is a more interactive environment, and that means that you can get away with just typing the name of a variable and running the cell to get the value stored in that variable as output. If you're writing code in a script (e.g. a .py file such as those created in the IDLE or Spyder Python environments), you will need to use the `print()` function to explicitly show the "contents" of the variable.

*References*:

The following materials were consulted during development of this notebook:

J. Zelle, *Python Programming: An Introduction to Computer Science*, 2nd ed. Sherwood, Oregon: Franklin, Beedle & Associates Inc., 2010.

Python 3 Documentation from the Python Software Foundation: https://docs.python.org/3/